# Assignment 4 (Dated - 01.02.2024)

### Name - Sachin Subhash Awalkar
### Batch Code - DS2312
### Subject - Selenium Web Scrapping
### Submited on - 10.02.2024

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shree\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shree\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shree\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\shree\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shree\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\shree\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\shree\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup in c:\users\shree\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\shree\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in c:\users\shree\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\shree\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\shree\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: cffi>=1.14 in c:\users\shree\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\shree\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shree\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shree\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shree\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from time import sleep

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

#### This task will be done in following steps:
    1. First get the webpage https://www.shine.com/
    2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.

In [3]:
driver_1 = webdriver.Chrome()
driver_1.maximize_window()

In [4]:
driver_1.get("https://www.shine.com/")

In [5]:
popup = driver_1.find_element(By.XPATH,'//button[@aria-label="Close Button"]')
popup.click()

In [9]:
search_1 = driver_1.find_element(By.CLASS_NAME,"input")
search_1.click()

In [12]:
designation = driver_1.find_element(By.CLASS_NAME,"form-control ")
designation.send_keys('Data Analyst')

In [13]:
location = driver_1.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [14]:
search = driver_1.find_element(By.CLASS_NAME,"searchForm_btnWrap__Cb75F")
search.click()

In [16]:
popup_2 = driver_1.find_element(By.XPATH,'//button[@aria-label="Close Button"]')
popup_2.click()

In [17]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [18]:
title_tags = driver_1.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div//a')

for i in title_tags[:10]:
    title = i.text
    job_title.append(title)
    
# Scrapping Job location from the given page

location_tags = driver_1.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in location_tags[:10]:
    location = i.text
    job_location.append(location)

#name_tags = driver_1.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
name_tags = driver_1.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]//span')
for i in name_tags[:10]:
    name = i.text
    company_name.append(name)

experience_tags = driver_1.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in experience_tags[:10]:
    exp = i.text
    experience_required.append(exp)

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [19]:
df_1 = pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df_1

,Title,Location,Company Name,Experience Required
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Get your Application Noticed,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Vacancy For Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Clinical Data Analyst,Bangalore\n+18,future solution centre,15 to >25 Yrs
5,Get Personalised Job Matches\nBased on your ex...,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Management,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
9,Data Modeler Bangalore,Bangalore\n+4,quiscon biotech,0 to 2 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

#### This task will be done in following steps:
    1. First get the webpage https://www.shine.com/
    2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.

In [20]:
driver_2 = webdriver.Chrome()
driver_2.maximize_window()

In [21]:
driver_2.get("https://www.shine.com/")

In [22]:
popup = driver_2.find_element(By.XPATH,'//button[@aria-label="Close Button"]')
popup.click()

In [23]:
search_2 = driver_2.find_element(By.CLASS_NAME,"input")
search_2.click()

In [24]:
designation = driver_2.find_element(By.CLASS_NAME,"form-control ")
designation.send_keys('Data Scientist')

In [25]:
location = driver_2.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [26]:
search = driver_2.find_element(By.CLASS_NAME,"searchForm_btnWrap__Cb75F")
search.click()

In [27]:
popup_2 = driver_2.find_element(By.XPATH,'//button[@aria-label="Close Button"]')
popup_2.click()

In [28]:
job_title = []
job_location = []
company_name = []

In [29]:
title_tags = driver_2.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div//a')

for i in title_tags[:10]:
    title = i.text
    job_title.append(title)
    
# Scrapping Job location from the given page

location_tags = driver_2.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in location_tags[:10]:
    location = i.text
    job_location.append(location)

name_tags = driver_2.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]//span')
for i in name_tags[:10]:
    name = i.text
    company_name.append(name)


print(len(job_title),len(job_location),len(company_name))

10 10 10

In [30]:
df_2 = pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name})
df_2

,Title,Location,Company Name
0,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...
1,Data Scientist Urgent Vacancy,Bangalore\n+15,renuka interprises
2,Get your Application Noticed,Bangalore\n+15,renuka interprises
3,Data Scientist Recruitment,Bangalore\n+15,renuka interprises
4,Data Scientist Recruitment,Bangalore\n+4,acme services private limited
5,Get Personalised Job Matches\nBased on your ex...,Bangalore,ltimindtree limited
6,Data Scientist,Bangalore\n+1,fractal
7,Data Scientist,Bangalore\n+14,yogita staffing solution
8,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,neostats
9,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+1,aereo

### Q3: In this question you have to scrape data using the filters available on the webpage

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

#### The task will be done as shown in the below steps:
    1. first get the web page https://www.shine.com/
    2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
    3. Then click the search button.
    4. Then apply the location filter and salary filter by checking the respective boxes
    5. Then scrape the data for the first 10 jobs results you get.
    6. Finally create a dataframe of the scraped data.

In [31]:
driver_3 = webdriver.Chrome()
driver_3.maximize_window()

In [32]:
driver_3.get("https://www.shine.com/")

In [33]:
popup = driver_3.find_element(By.XPATH,'//button[@aria-label="Close Button"]')
popup.click()

In [ ]:
button = driver_3.find_element(By.CLASS_NAME,"btn-close ")
button.click()

In [34]:
search_1 = driver_3.find_element(By.CLASS_NAME,"input")
search_1.click()

In [35]:
designation = driver_3.find_element(By.CLASS_NAME,"form-control ")
designation.send_keys('Data Scientist')

In [36]:
search = driver_3.find_element(By.CLASS_NAME,"searchForm_btnWrap__Cb75F")
search.click()

In [37]:
popup_2 = driver_3.find_element(By.XPATH,'//button[@aria-label="Close Button"]')
popup_2.click()

In [51]:
filter_tag = driver_3.find_element(By.CLASS_NAME,"filter_filter_lists_wrap__xOLYG")
filter_tag.click()

In [52]:
location_filter = driver_3.find_element(By.CLASS_NAME,"filter_tabs__tabList__tab___NmuK ")
location_filter.click()

In [53]:
location_1 = driver_3.find_element(By.ID,'search')
location_1.send_keys('Delhi')

In [54]:
loc_filter_2 = driver_3.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label")
loc_filter_2.click()

In [55]:
loc_search = driver_3.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
loc_search.click()

In [42]:
filter_tag = driver_3.find_element(By.CLASS_NAME,"filter_filter_lists_wrap__xOLYG")
filter_tag.click()

In [43]:
salary_filter = driver_3.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[3]/div/ul/li[3]")
salary_filter.click()

In [44]:
salary_filter_2 = driver_3.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
salary_filter_2.click()

In [45]:
sal_search = driver_3.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
sal_search.click()

In [56]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [57]:
title_tags = driver_3.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div//a')

for i in title_tags[:10]:
    title = i.text
    job_title.append(title)
    

location_tags = driver_3.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in location_tags[:10]:
    location = i.text
    job_location.append(location)


name_tags = driver_3.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]//span')

for i in name_tags[:10]:
    name = i.text
    company_name.append(name)

experience_tags = driver_3.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in experience_tags[:10]:
    exp = i.text
    experience_required.append(exp)

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [58]:
df_3 = pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df_3

,Title,Location,Company Name,Experience Required
0,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
1,Hiring candidates for Marketing with Fare & Da...,Delhi\n+2,sharda it services,2 to 5 Yrs
2,Get your Application Noticed,Delhi\n+2,sharda it services,1 to 6 Yrs
3,Hiring for Fare & Data Analyst-Travel process,Delhi\n+6,techno endura,0 to 1 Yr
4,Clinical Data Analyst,Delhi\n+8,techno endura,0 to 2 Yrs
5,Get Personalised Job Matches\nBased on your ex...,Delhi\n+8,techno endura,0 to 2 Yrs
6,Clinical Sas Programmer,Delhi\n+9,mahima consultancy,0 Yrs
7,Clinical SAS,Delhi\n+6,techno endura,0 to 1 Yr
8,Apprentice Trainee,Delhi\n+6,techno endura,0 to 1 Yr
9,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
    6. Brand
    7. Product Description
    8. Price

**The attributes which you have to scrape is ticked marked in the below image.**

**To scrape the data you have to go through following steps:**

    1. Go to Flipkart webpage by url : https://www.flipkart.com/
    2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
    3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
    4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
    5. Now scrape data from this page as usual
    6. Repeat this until you get data for 100sunglasses.

In [59]:
driver_4 = webdriver.Chrome()
driver_4.maximize_window()

In [60]:
driver_4.get("https://www.flipkart.com/")

In [61]:
designation = driver_4.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys('sunglasses')

In [62]:
search = driver_4.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [63]:
brands = []
descriptions = []
prices = []
discounts = []

In [64]:
brand_tags = driver_4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in brand_tags[:37]:
    brand = i.text    
    brands.append(brand)
    
desc_tags = driver_4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for i in desc_tags[:37]:
    description = i.text
    descriptions.append(description)
    
price_tags = driver_4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in price_tags[:37]:
    price = i.text
    prices.append(price)
    
discount_tags = driver_4.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

for i in discount_tags[:37]:
    discount = i.text
    discounts.append(discount)

In [65]:
print(len(brands),len(descriptions),len(prices),len(discounts))

37 37 37 37

In [66]:
next_button = driver_4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [67]:
brand_tags = driver_4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in brand_tags[:37]:
    brand = i.text    
    brands.append(brand)
    
desc_tags = driver_4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for i in desc_tags[:37]:
    description = i.text
    descriptions.append(description)
    
price_tags = driver_4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in price_tags[:37]:
    price = i.text
    prices.append(price)
    
discount_tags = driver_4.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

for i in discount_tags[:37]:
    discount = i.text
    discounts.append(discount)

In [68]:
print(len(brands),len(descriptions),len(prices),len(discounts))

74 74 74 74

In [70]:
next_button = driver_4.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [71]:
brand_tags = driver_4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in brand_tags[:27]:
    brand = i.text    
    brands.append(brand)
    
desc_tags = driver_4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for i in desc_tags[:27]:
    description = i.text
    descriptions.append(description)
    
price_tags = driver_4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in price_tags[:27]:
    price = i.text
    prices.append(price)
    
discount_tags = driver_4.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

for i in discount_tags[:27]:
    discount = i.text
    discounts.append(discount)

In [72]:
print(len(brands),len(descriptions),len(prices),len(discounts))

101 101 101 101

In [73]:
df_4 = pd.DataFrame({'Product Brand':brands,
                     'Product Description':descriptions,
                     'Product Price':prices,
                     'Product Discount':discounts})
df_4

,Product Brand,Product Description,Product Price,Product Discount
0,Eyenaks,UV Protection Rectangular Sunglasses (Free Size),₹346,76% off
1,NuVew,"UV Protection Sports, Wrap-around Sunglasses (70)",₹499,68% off
2,ROADWAY,"UV Protection Wayfarer, Sports, Spectacle , Re...",₹129,90% off
3,SRPM,UV Protection Wayfarer Sunglasses (50),₹169,86% off
4,ROADWAY,UV Protection Retro Square Sunglasses (Free Size),₹169,86% off
...,...,...,...,...
96,RESIST EYEWEAR,"Toughened Glass Lens, UV Protection, Riding Gl...","₹1,199",76% off
97,PIRASO,UV Protection Cat-eye Sunglasses (55),₹199,87% off
98,Singco India,"Polarized, UV Protection Wayfarer, Retro Squar...",₹375,84% off
99,Ray-Ban,UV Protection Aviator Sunglasses (55),"₹5,541",25% off
100,ROYAL SON,"Polarized, UV Protection Sports Sunglasses (68)","₹1,104",55% off

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

#### You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYHWAXCG&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [74]:
driver_5 = webdriver.Chrome()
driver_5.maximize_window()

In [75]:
driver_5.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYHWAXCG&marketplace=FLIPKART")

In [76]:
ratings = []
review_summary = []
full_review = []

In [77]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

10 10 10

In [79]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [80]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

20 20 20

In [81]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [82]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

30 30 30

In [83]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [84]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

40 40 40

In [85]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [86]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

50 50 50

In [87]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [88]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

60 60 60

In [89]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [90]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

70 70 70

In [91]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [92]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

80 80 80

In [93]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [94]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

90 90 90

In [95]:
next_button = driver_5.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [96]:
rating_tags = driver_5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tags[:10]:
    rating = i.text
    ratings.append(rating)

review_tags = driver_5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_tags[:10]:
    review = i.text
    review_summary.append(review)
    
fullreview_tags = driver_5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in fullreview_tags[:10]:
    full_rev = i.text
    full_review.append(full_rev)
    
print(len(ratings),len(review_summary),len(full_review))

100 100 100

In [97]:
df = pd.DataFrame({'Rating':ratings,'Review Summary':review_summary,'Full Review':full_review})
df

,Rating,Review Summary,Full Review
0,5,Perfect product!,V Good all
1,5,Wonderful,This is amazing at all
2,5,Terrific,Very very good
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Best in the market!,Good Camera
...,...,...,...
95,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
96,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
97,4,Very Good,I switched to IOS for long term use and for be...
98,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
99,5,Classy product,Outstanding performance this phone

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [98]:
driver_6 = webdriver.Chrome()
driver_6.maximize_window()

In [99]:
driver_6.get("https://www.flipkart.com/")

In [100]:
search = driver_6.find_element(By.CLASS_NAME,"Pke_EE")
search.send_keys('sneakers')

In [102]:
search_tab = driver_6.find_element(By.CLASS_NAME,"_2iLD__")
search_tab.click()

In [111]:
brands = []
descriptions = []
prices = []

In [112]:
brand_tags = driver_6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in brand_tags[:31]:
    brand = i.text    
    brands.append(brand)
    
desc_tags = driver_6.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for i in desc_tags[:31]:
    description = i.text
    descriptions.append(description)
    
price_tags = driver_6.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in price_tags[:31]:
    price = i.text
    prices.append(price)
    
print(len(brands),len(descriptions),len(prices))

31 31 31

In [113]:
next_button = driver_6.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [114]:
brand_tags = driver_6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in brand_tags[:29]:
    brand = i.text    
    brands.append(brand)
    

desc_tags = driver_6.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for i in desc_tags[:29]:
    description = i.text
    descriptions.append(description)
    

price_tags = driver_6.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in price_tags[:29]:
    price = i.text
    prices.append(price)
    
print(len(brands),len(descriptions),len(prices))

60 60 60

In [115]:
next_button = driver_6.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [116]:
brand_tags = driver_6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in brand_tags[:30]:
    brand = i.text    
    brands.append(brand)
    

desc_tags = driver_6.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for i in desc_tags[:30]:
    description = i.text
    descriptions.append(description)
    

price_tags = driver_6.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in price_tags[:30]:
    price = i.text
    prices.append(price)
    
print(len(brands),len(descriptions),len(prices))

90 90 90

In [117]:
next_button = driver_6.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
next_button.click()

In [118]:
brand_tags = driver_6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in brand_tags[:10]:
    brand = i.text    
    brands.append(brand)
    

desc_tags = driver_6.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for i in desc_tags[:10]:
    description = i.text
    descriptions.append(description)
    

price_tags = driver_6.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in price_tags[:10]:
    price = i.text
    prices.append(price)
    
print(len(brands),len(descriptions),len(prices))

100 100 100

In [119]:
df = pd.DataFrame({'Product Brands':brands,'Product Description':descriptions,'Product Price':prices})
df

,Product Brands,Product Description,Product Price
0,VECHLO,Fashionable Canvas Casual Partywear Outdoor Sn...,₹567
1,kardam&sons,Sneakers For Women,₹369
2,Deals4you,Trending Stylish Casual Outdoor Shoes Sneakers...,₹299
3,URBANBOX,Sneakers For Men,₹299
4,RED TAPE,"Moscow-01 White Sneakers,Loafers,Chunky Shoes ...","₹1,737"
...,...,...,...
95,K' Footlance,Sneakers For Men,₹346
96,METRO,NEO MOTORSPORT Sneakers For Men,"₹1,989"
97,METRO,SWOOP Sneakers For Women,"₹1,489"
98,Shoe Lab,UPID Sneakers For Women,₹399
99,DUCATI,Alpha Predator Sneakers For Men,₹809

### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [120]:
!pip install amazoncaptcha

Requirement already satisfied: amazoncaptcha in c:\users\shree\anaconda3\lib\site-packages (0.5.11)
Requirement already satisfied: requests<2.31.0,>=2.27.1 in c:\users\shree\anaconda3\lib\site-packages (from amazoncaptcha) (2.28.1)
Requirement already satisfied: pillow<9.6.0,>=9.0.1 in c:\users\shree\anaconda3\lib\site-packages (from amazoncaptcha) (9.4.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\shree\anaconda3\lib\site-packages (from requests<2.31.0,>=2.27.1->amazoncaptcha) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shree\anaconda3\lib\site-packages (from requests<2.31.0,>=2.27.1->amazoncaptcha) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shree\anaconda3\lib\site-packages (from requests<2.31.0,>=2.27.1->amazoncaptcha) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shree\anaconda3\lib\site-packages (from requests<2.31.0,>=2.27.1->amazoncaptcha) (3.4)

In [121]:
from amazoncaptcha import AmazonCaptcha

In [125]:
driver_7 = webdriver.Chrome()
driver_7.maximize_window()

In [126]:
driver_7.get("https://www.amazon.in/")

In [ ]:
driver_7.get("https://www.amazon.com/errors/validateCaptcha")

In [ ]:
link = driver_7.find_element(By.XPATH,'//div[@class="a-row a-text-center"]//img').get_attribute('src')

In [ ]:
captcha = AmazonCaptcha.fromlink(link)

In [ ]:
captcha_value = AmazonCaptcha.solve(captcha)

In [ ]:
input_field = driver_7.find_element(By.ID,"captchacharacters").send_keys(captcha_value)

In [127]:
button = driver_7.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
button.click()

In [ ]:
location = driver_7.find_element(By.XPATH,'//input[@class="a-button-input"]')
location.click()

In [128]:
search = driver_7.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
search.send_keys('Laptop')

In [129]:
search_key = driver_7.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search_key.click()

In [132]:
cpu_type = driver_7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[12]/span/span[4]/li/span/a/div/label/i')
cpu_type.click()

In [134]:
processor = driver_7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[8]/ul[19]/span/span[4]/li/span/a/div/label/i')
processor.click()

In [135]:
titles = []
ratings = []
prices = []

In [136]:
title_tags = driver_7.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

for i in title_tags[:10]:
    title = i.text
    titles.append(title)

rating_tab = driver_7.find_elements(By.XPATH,'//i[@class="a-icon a-icon-popover"]')

for i in rating_tab[:10]:
    rating_tab = driver_7.find_elements(By.XPATH,'//i[@class="a-icon a-icon-popover"]')
    rating_tags = driver_7.find_elements(By.XPATH,'/html/body/div[6]/div/div[1]/div/div/div/div/div[2]')
    rating = i.text
    ratings.append(ratings)


price_tags = driver_7.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in price_tags[:10]:
    price = i.text
    prices.append(price)

print(len(titles),len(ratings),len(prices))

10 10 10

In [137]:
df = pd.DataFrame({'Title':titles,'Rating':ratings,'Price':prices})
df

,Title,Rating,Price
0,"MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...","[[[[[...], [...], [...], [...], [...], [...], ...","59,990"
1,"ASUS TUF Gaming F15, 15.6""(39.62 cms) FHD 144H...","[[[[[...], [...], [...], [...], [...], [...], ...","54,820"
2,"HP Windows 11 Home Victus Gaming Laptop,12Th G...","[[[[[...], [...], [...], [...], [...], [...], ...","54,820"
3,Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...,"[[[[[...], [...], [...], [...], [...], [...], ...","73,990"
4,Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...,"[[[[[...], [...], [...], [...], [...], [...], ...","81,990"
5,"HP Pavilion X360 11th Gen Intel Core i7 14"" (3...","[[[[[...], [...], [...], [...], [...], [...], ...","62,031"
6,Acer Travelmate Business Laptop Intel Core i7-...,"[[[[[...], [...], [...], [...], [...], [...], ...","82,990"
7,"ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...","[[[[[...], [...], [...], [...], [...], [...], ...","77,990"
8,"Dell Inspiron 3530 Laptop, Intel Core i7-1355U...","[[[[[...], [...], [...], [...], [...], [...], ...","49,990"
9,"ASUS Vivobook 16X, Intel Core i7-12650H 12th G...","[[[[[...], [...], [...], [...], [...], [...], ...","59,990"

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [138]:
driver_8 = webdriver.Chrome()
driver_8.maximize_window()

In [139]:
driver_8.get("https://www.azquotes.com/")

In [140]:
topquote_tab = driver_8.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
topquote_tab.click()

In [141]:
quotes = []
authers = []
quote_types = []

In [142]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

100 100 100

In [145]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a')
next_button.click()

In [146]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

200 200 200

In [147]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
next_button.click()

In [148]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

300 300 300

In [149]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
next_button.click()

In [150]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

400 400 400

In [151]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
next_button.click()

In [152]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

500 500 500

In [153]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
next_button.click()

In [154]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

600 600 600

In [155]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
next_button.click()

In [156]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

700 700 700

In [157]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
next_button.click()

In [158]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

800 800 800

In [159]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
next_button.click()

In [160]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

900 900 900

In [161]:
next_button = driver_8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
next_button.click()

In [162]:
quote_tags = driver_8.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote_tags:
    quote = i.text
    quotes.append(quote)

auther_tags = driver_8.find_elements(By.XPATH,'//div[@class="author"]')    

for i in auther_tags:
    auther = i.text
    authers.append(auther)
    
type_tags = driver_8.find_elements(By.XPATH,'//div[@class="tags"]')

for i in type_tags:
    quote_type = i.text
    quote_types.append(quote_type)

print(len(quotes),len(authers),len(quote_types))

1000 1000 1000

In [163]:
df = pd.DataFrame({'Quote':quotes,'Auther':authers,'Type of Quotes':quote_types})
df

,Quote,Auther,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [164]:
driver_9 = webdriver.Chrome()
driver_9.maximize_window()

In [165]:
driver_9.get("https://www.jagranjosh.com/")

In [166]:
gk_tab = driver_9.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge"]')
gk_tab.click()

In [168]:
explore_tab = driver_9.find_element(By.XPATH,'/html/body/div[1]/div[8]/section[5]/div[1]/span/a')
explore_tab.click()

In [169]:
list_tab = driver_9.find_element(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/section[2]/div/ul/li[11]/article/h3/a')
list_tab.click()

In [170]:
names = []
born_dead = []
office_term = []
remarks = []

In [171]:
name_data = driver_9.find_elements(By.XPATH,'//div[@class="TableData"]//tbody/tr/td[2]')

for i in name_data[:19]:
    name = i.text
    names.append(name)

born_data = driver_9.find_elements(By.XPATH,'//div[@class="TableData"]//tbody/tr/td[3]')

for i in born_data[:19]:
    born = i.text
    born_dead.append(born)

office_data = driver_9.find_elements(By.XPATH,'//div[@class="TableData"]//tbody/tr/td[4]')

for i in office_data[:19]:
    office = i.text
    office_term.append(office)

remark_data = driver_9.find_elements(By.XPATH,'//div[@class="TableData"]//tbody/tr/td[5]')

for i in remark_data[:19]:
    remark = i.text
    remarks.append(remark)

print(len(names),len(born_dead),len(office_term),len(remarks))

19 19 19 19

In [172]:
df_9 = pd.DataFrame({'PM Names':names,'Born-Dead':born_dead,'Term of Office':office_term,'Remarks':remarks})
df_9

,PM Names,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [173]:
driver_10 = webdriver.Chrome()
driver_10.maximize_window()

In [174]:
driver_10.get("https://www.motor1.com/")

In [175]:
type_in = driver_10.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
type_in.send_keys('50 most expensive cars')

In [176]:
search = driver_10.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [177]:
search_2 = driver_10.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
search_2.click()

In [178]:
car_name = []
prices = []

In [179]:
name_tags = driver_10.find_elements(By.XPATH,'//h3[@class="subheader"]')

for i in name_tags[:50]:
    name = i.text
    car_name.append(name)

price_tags = driver_10.find_elements(By.XPATH,'//p[strong]')

for i in price_tags[:50]:
    price = i.text
    prices.append(price)

print(len(car_name),len(prices))

50 50

In [180]:
df = pd.DataFrame({'Car Name':car_name,'Price':prices})
df

                              Car Name                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)

## End of Assignment