# Assignment 7 (Dated - 25.02.2024)

### Name - Sachin Subhash Awalkar
### Batch Code - DS2312
### Subject - Web Scraping Assignment - 4
### Submited on - 01.03.2024

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from time import sleep
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from bs4 import BeautifulSoup
import requests as re
import re
import urllib
import requests
import warnings
warnings.filterwarnings('ignore')

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

### You need to find following details:
    A) Rank
    B) Name
    C) Artist
    D) Upload date
    E) Views

In [3]:
driver = webdriver.Chrome()
driver.maximize_window()

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [5]:
#rank = []
name = []
artist = []
upload_date = []
views = []

#rank_tags = driver.find_elements(By.XPATH,'//*[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr')
#for i in rank_tags:
#    try:
#        rank.append(i.text)
#    except:
#        rank.append('-')
#print(len(rank),rank)

name_tags = driver.find_elements(By.XPATH,'//*[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name_tags:
    try:
        name.append(i.text)
    except:
        name.append('-')
print(len(name),name)

artist_tags = driver.find_elements(By.XPATH,'//*[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist_tags:
    try:
        artist.append(i.text)
    except:
        artist.append('-')
print(len(artist),artist)

upload_tags = driver.find_elements(By.XPATH,'//*[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in upload_tags:
    try:
        upload_date.append(i.text)
    except:
        upload_date.append('-')
print(len(upload_date),upload_date)

view_tags = driver.find_elements(By.XPATH,'//*[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in view_tags:
    try:
        views.append(i.text)
    except:
        views.append('-')
print(len(views),views)

30 ['"Baby Shark Dance"[6]', '"Despacito"[9]', '"Johny Johny Yes Papa"[17]', '"Bath Song"[18]', '"Shape of You"[19]', '"See You Again"[22]', '"Wheels on the Bus"[27]', '"Phonics Song with Two Words"[28]', '"Uptown Funk"[29]', '"Learning Colors – Colorful Eggs on a Farm"[30]', '"Gangnam Style"[31]', '"Masha and the Bear – Recipe for Disaster"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Sugar"[39]', '"Counting Stars"[40]', '"Baa Baa Black Sheep"[41]', '"Roar"[42]', '"Lakdi Ki Kathi"[43]', '"Waka Waka (This Time for Africa)"[44]', '"Sorry"[45]', '"Thinking Out Loud"[46]', '"Humpty the train on a fruits ride"[47]', '"Shree Hanuman Chalisa"[48]', '"Dark Horse"[49]', '"Perfect"[50]', '"Let Her Go"[51]', '"Faded"[52]', '"Girls Like You"[53]', '"Lean On"[54]']
30 ["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Miroshka TV', 'Psy', 'Get Movies', 'Ultra Records', 'Crazy Frog', 'Maroon 5', 'OneRepublic', 'Cocomelon - Nursery Rhymes', 'Katy Perry', 'Jingle Toons', 'Shakira', 'Justin Bieber', 'Ed Sheeran', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'T-Series Bhakti Sagar', 'Katy Perry', 'Ed Sheeran', 'Passenger', 'Alan Walker', 'Maroon 5', 'Major Lazer Official']
30 ['14.09', '8.38', '6.87', '6.62', '6.20', '6.17', '5.88', '5.70', '5.15', '5.07', '5.05', '4.58', '4.55', '4.34', '4.00', '3.97', '3.96', '3.96', '3.91', '3.85', '3.77', '3.73', '3.73', '3.69', '3.67', '3.67', '3.61', '3.59', '3.56', '3.55']
30 ['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'May 31, 2013', 'June 25, 2018', 'September 5, 2013', 'June 14, 2018', 'June 4, 2010', 'October 22, 2015', 'October 7, 2014', 'January 26, 2018', 'May 10, 2011', 'February 20, 2014', 'November 9, 2017', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015']

In [6]:
print("\n=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Most Viewed Videos on YouTube =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*")
youtube = pd.DataFrame({'Name':name,
                        'Artist':artist,
                        'Upload Date':upload_date,
                        'Views':views                        
                       })
youtube

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Most Viewed Videos on YouTube =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

,Name,Artist,Upload Date,Views
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

## 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

#### You need to find following details:
    A) Series
    B) Place
    C) Date
    D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
driver = webdriver.Chrome()
driver.maximize_window()

url = 'https://www.bcci.tv/'

driver.get(url)

In [8]:
fixtures = driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]").click()
sleep(3)

In [9]:
series = []
place = []
date = []
time = []

series_tags = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    try:
        series.append(i.text)
    except:
        series.append('-')
print(len(series),series)

place_tags = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_tags:
    try:
        place.append(i.text)
    except:
        place.append('-')
print(len(place),place)

date_tags = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    try:
        date.append(i.text)
    except:
        date.append('-')
print(len(date),date)

time_tags = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    try:
        time.append(i.text)
    except:
        time.append('-')
print(len(time),time)

6 ['ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']
6 ['Himachal Pradesh Cricket Association Stadium, Dharamsala', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare']
6 ['7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']
6 ['9:30 AM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST']

In [10]:
print("\n=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Team India's International Fixtures =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*")
df = pd.DataFrame({'Series':series,
                   'Place':place,
                   'Date':date,
                   'Time':time
                  })
df

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Team India's International Fixtures =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

## 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
### You have to find following details:
    A) Rank
    B) State
    C) GSDP(18-19)- at current prices
    D) GSDP(19-20)- at current prices
    E) Share(18-19)
    F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [11]:
driver = webdriver.Chrome()
driver.maximize_window()

url = 'http://statisticstimes.com/'

driver.get(url)

In [12]:
dropdown = driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/button').click()

In [13]:
d_down = driver.find_element(By.XPATH,'//a[@href="economy/india-statistics.php"]').click()

In [15]:
statewise_gdp = driver.find_element(By.XPATH,'//a[@href="india/indian-states-gdp.php"]').click()

In [16]:
rank = []
rank_tags = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in rank_tags:
    try:
        rank.append(i.text)
    except:
        rank.append('-')
print(len(rank),rank)

state = []
state_tags = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
for i in state_tags:
    try:
        state.append(i.text)
    except:
        state.append('-')
print(len(state),state)

GSDP_21_22 = []
GSDP_21_22_tags = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
for i in GSDP_21_22_tags:
    try:
        GSDP_21_22.append(i.text)
    except:
        GSDP_21_22.append('-')
print(len(GSDP_21_22),GSDP_21_22)

GSDP_22_23 = []
GSDP_22_23_tags = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
for i in GSDP_22_23_tags:
    try:
        GSDP_22_23.append(i.text)
    except:
        GSDP_22_23.append('-')
print(len(GSDP_22_23),GSDP_22_23)

share = []
share_tags = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in share_tags:
    try:
        share.append(i.text)
    except:
        share.append('-')
print(len(share),share)

GDP_Billion = []
GDP_tags = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in GDP_tags:
    try:
        GDP_Billion.append(i.text)
    except:
        GDP_Billion.append('-')
print(len(GDP_Billion),GDP_Billion)

33 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']
33 ['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']
33 ['3,108,022', '2,071,286', '1,974,532', '1,962,725', '1,937,066', '1,363,926', '1,218,193', '1,136,137', '1,133,837', '1,128,907', '932,470', '904,642', '870,665', '670,881', '650,302', '614,227', '412,612', '406,416', '358,863', '272,159', '199,917', '176,269', '82,604', '62,550', '45,635', '44,238', '38,785', '37,557', '36,594', '35,124', '31,913', '27,824', '10,371']
33 ['-', '2,364,514', '2,257,575', '2,241,368', '-', '1,554,992', '1,413,620', '1,322,821', '1,317,728', '1,313,391', '-', '1,043,759', '994,154', '774,869', '751,396', '673,107', '493,167', '457,608', '393,722', '302,621', '227,927', '195,405', '-', '72,636', '-', '-', '42,697', '42,756', '-', '-', '-', '-', '-']
33 ['13.24%', '8.82%', '8.41%', '8.36%', '8.25%', '5.81%', '5.19%', '4.84%', '4.83%', '4.81%', '3.97%', '3.85%', '3.71%', '2.86%', '2.77%', '2.62%', '1.76%', '1.73%', '1.53%', '1.16%', '0.85%', '0.75%', '0.35%', '0.27%', '0.19%', '0.19%', '0.17%', '0.16%', '0.16%', '0.15%', '0.14%', '0.12%', '0.04%']
33 ['417.163', '278.011', '265.024', '263.440', '259.996', '183.068', '163.507', '152.494', '152.185', '151.523', '125.157', '121.422', '116.862', '90.047', '87.284', '82.442', '55.381', '54.550', '48.167', '36.530', '26.833', '23.659', '11.087', '8.396', '6.125', '5.938', '5.206', '5.041', '4.912', '4.714', '4.283', '3.735', '1.392']

In [17]:
print("\n=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= State-wise GDP of India =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=")
df = pd.DataFrame({'Rank':rank,
                   'State':state,
                   'GSDP (21-22)':GSDP_21_22,
                   'GSDP (22-23)':GSDP_22_23,
                   'Share (21-22)':share,
                   'GDP ($ Billion)':GDP_Billion
                  })
df

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= State-wise GDP of India =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

,Rank,State,GSDP (21-22),GSDP (22-23),Share (21-22),GDP ($ Billion)
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

## 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
### You have to find the following details:
    A) Repository title
    B) Repository description
    C) Contributors count
    D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [18]:
driver = webdriver.Chrome()
driver.maximize_window()

url = "https://github.com/"

driver.get(url)

In [22]:
sel_repo = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [24]:
repo_title = []
title_tags = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a')
for i in title_tags[:21]:
    try:
        repo_title.append(i.text)
    except:
        repo_title.append('-')
print(len(repo_title),repo_title)

repo_desc = []
desc_tags = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
for i in desc_tags[:21]:
    try:
        repo_desc.append(i.text)
    except:
        repo_desc.append('-')
print(len(repo_desc),repo_desc)

cont = []
cont_tags = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
for i in cont_tags[:21]:
    try:
        cont.append(i.text)
    except:
        cont.append('-')
print(len(cont),cont)

lang = []
lang_tags = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
for i in lang_tags[:21]:
    try:
        lang.append(i.text)
    except:
        lang.append('-')
print(len(lang),lang)

21 ['Lissy93 / web-check', 'yuzu-emu / yuzu', 'Netflix / bpftop', 'yuzu-emu / yuzu-android', 'dockur / windows', 'polyfillpolyfill / polyfill-service', 'taikoxyz / taiko-mono', 'Eladlev / AutoPrompt', 'public-apis / public-apis', 'Lunakepio / Mario-Kart-3.js', 'HumanAIGC / EMO', 'yuzu-emu / yuzu-mainline', 'SuperTux / supertux', '1c7 / chinese-independent-developer', 'toeverything / AFFiNE', 'HumanAIGC / AnimateAnyone', 'tigerbeetle / tigerbeetle', 'pineappleEA / pineapple-src', 'pure-admin / vue-pure-admin', 'Ryujinx / Ryujinx', 'Avaiga / taipy']
21 ['🕵️\u200d♂️ All-in-one OSINT tool for analysing any website', 'Nintendo Switch emulator', 'bpftop provides a dynamic real-time view of running eBPF programs. It displays the average runtime, events per second, and estimated total CPU % for each program.', 'Windows in a Docker container.', 'Automatic polyfill service.', 'A based rollup. 🥁', 'A framework for prompt tuning using Intent-based Prompt Calibration', 'A collective list of free APIs', 'SuperTux source code', '👩🏿\u200d💻👨🏾\u200d💻👩🏼\u200d💻👨🏽\u200d💻👩🏻\u200d💻中国独立开发者项目列表 -- 分享大家都在做什么', 'There can be more than Notion and Miro. AFFiNE(pronounced [ə‘fain]) is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.', 'Animate Anyone: Consistent and Controllable Image-to-Video Synthesis for Character Animation', 'The distributed financial transactions database designed for mission critical safety and performance.', 'yuzu Early Access source code', '🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款后台管理系统（兼容移动端）', 'Experimental Nintendo Switch Emulator written in C#', 'Turns Data and AI algorithms into production-ready web applications in no time.', 'A curated list of free courses & certifications.', '🎓 Path to a free self-taught education in Computer Science!', 'High-quality multi-lingual text-to-speech library by MyShell.ai. Support English, Spanish, French, Chinese, Japanese and Korean.', "Let's bake some (AI) stickers!"]
21 ['888', '3,783', '42', '163', '178', '573', '1,585', '72', '30,970', '619', '232', '379', '436', '2,482', '1,801', '791', '278', '292', '2,418', '2,455', '420']
21 ['TypeScript', 'C++', 'Rust', 'C++', 'Shell', 'Built by', 'HTML', 'Python', 'Python', 'JavaScript', 'Built by', 'C++', 'C++', 'Built by', 'TypeScript', 'Built by', 'Zig', 'C++', 'Vue', 'C#', 'Python']

In [25]:
print("\n=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Trending Repositories =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=")
df = pd.DataFrame({'Repository Title':repo_title,
                   'Repository Description':repo_desc,
                   'Contributors':cont,
                   'Language Used':lang
                  })
df

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Trending Repositories =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

,Repository Title,Repository Description,Contributors,Language Used
0,Lissy93 / web-check,🕵️‍♂️ All-in-one OSINT tool for analysing any ...,888,TypeScript
1,yuzu-emu / yuzu,Nintendo Switch emulator,"3,783",C++
2,Netflix / bpftop,bpftop provides a dynamic real-time view of ru...,42,Rust
3,yuzu-emu / yuzu-android,Windows in a Docker container.,163,C++
4,dockur / windows,Automatic polyfill service.,178,Shell
5,polyfillpolyfill / polyfill-service,A based rollup. 🥁,573,Built by
6,taikoxyz / taiko-mono,A framework for prompt tuning using Intent-bas...,"1,585",HTML
7,Eladlev / AutoPrompt,A collective list of free APIs,72,Python
8,public-apis / public-apis,SuperTux source code,"30,970",Python
9,Lunakepio / Mario-Kart-3.js,👩🏿‍💻👨🏾‍💻👩🏼‍💻👨🏽‍💻👩🏻‍💻中国独立开发者项目列表 -- 分享大家都在做什么,619,JavaScript
10,HumanAIGC / EMO,There can be more than Notion and Miro. AFFiNE...,232,Built by
11,yuzu-emu / yuzu-mainline,Animate Anyone: Consistent and Controllable Im...,379,C++
12,SuperTux / supertux,The distributed financial transactions databas...,436,C++
13,1c7 / chinese-independent-developer,yuzu Early Access source code,"2,482",Built by
14,toeverything / AFFiNE,🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款...,"1,801",TypeScript
15,HumanAIGC / AnimateAnyone,Experimental Nintendo Switch Emulator written ...,791,Built by
16,tigerbeetle / tigerbeetle,Turns Data and AI algorithms into production-r...,278,Zig
17,pineappleEA / pineapple-src,A curated list of free courses & certifications.,292,C++
18,pure-admin / vue-pure-admin,🎓 Path to a free self-taught education in Comp...,"2,418",Vue
19,Ryujinx / Ryujinx,High-quality multi-lingual text-to-speech libr...,"2,455",C#
20,Avaiga / taipy,Let's bake some (AI) stickers!,420,Python

## 5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/ 
### You have to find the following details:
    A) Song name
    B) Artist name
    C) Last week rank
    D) Peak rank
    E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
driver = webdriver.Chrome()
driver.maximize_window()

url = "https:/www.billboard.com/"

driver.get(url)

In [4]:
chart = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
sleep(5)

In [6]:
hot_100 = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()
sleep(5)

In [7]:
song_name = []
song_tags = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3')
for i in song_tags:
    try:
        song_name.append(i.text)
    except:
        song_name.append('-')
print(len(song_name),song_name)

artist_name = []
artist_tags = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span[1]')
for i in artist_tags:
    try:
        artist_name.append(i.text)
    except:
        artist_name.append('-')
print(len(artist_name),artist_name)

lastW_rank = []
lrank_tags = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for i in lrank_tags:
    try:
        lastW_rank.append(i.text)
    except:
        lastW_rank.append('-')
print(len(lastW_rank),lastW_rank)

peak_rank = []
Prank_tags = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in Prank_tags:
    try:
        peak_rank.append(i.text)
    except:
        peak_rank.append('-')
print(len(peak_rank),peak_rank)

week_board = []
week_tags = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul[1]/li[1]/span[1]')
for i in week_tags:
    try:
        week_board.append(i.text)
    except:
        week_board.append('-')
print(len(week_board),week_board)

100 ["Texas Hold 'Em", 'Lovin On Me', 'Lose Control', 'Carnival', 'Beautiful Things', 'Snooze', 'Cruel Summer', 'Greedy', 'I Remember Everything', 'Agora Hills', 'Yes, And?', 'Stick Season', 'Fast Car', 'Water', 'Last Night', 'Redrum', "Thinkin' Bout Me", "Is It Over Now? (Taylor's Version) [From The Vault]", 'Pretty Little Poison', 'Flowers', 'Paint The Town Red', 'Houdini', 'Made For Me', 'Never Lose Me', 'La Diabla', 'Where The Wild Things Are', 'Training Season', 'The Painter', 'Feather', 'What Was I Made For?', 'Rich Baby Daddy', 'Whatever She Wants', 'Truck Bed', 'Selfish', 'Everybody', 'Vampire', 'Wild Ones', 'On My Mama', 'Praise Jah In The Moonlight', 'Save Me', 'Exes', 'Breathe', 'Dance The Night', 'Need A Favor', 'Surround Sound', 'World On Fire', 'Yeah!', 'Burn It Down', 'Good Good', 'La Victima', 'End Of Beginning', 'Get In With Me', 'Burn', 'Man Made A Bar', '16 Carriages', 'First Person Shooter', 'Fuk Sumn', 'One Of The Girls', 'Back To Me', 'One Call', 'Contigo', '23', 'Murder On The Dancefloor', 'You Broke My Heart', 'Think U The Shit (Fart)', 'FTCU', 'FE!N', 'Hiss', 'I Can Feel It', 'Bandit', 'Spin You Around (1/24)', 'Soak City', 'Forever', "Mamaw's House", 'Act II: Date @ 8', 'Igual Que Un Angel', 'Nee-nah', 'Wildflowers And Wild Horses', 'Bellakeo', 'Harley Quinn', 'Standing Next To You', 'Bittersweet', 'IDGAF', 'Home', 'Vultures', 'Yeah Glo!', 'Coal', 'Mmhmm', 'Psycho CEO', 'Perro Negro', 'Sensational', 'Oklahoma Smokeshow', 'Tu Name', 'Do It', 'Worth It', 'Talking', 'Monaco', 'Where It Ends', 'Wondering Why', 'Northern Attitude']
100 ['Beyonce', 'Jack Harlow', 'Teddy Swims', '¥$: Kanye West & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti', 'Benson Boone', 'SZA', 'Taylor Swift', 'Tate McRae', 'Zach Bryan Featuring Kacey Musgraves', 'Doja Cat', 'Ariana Grande', 'Noah Kahan', 'Luke Combs', 'Tyla', 'Morgan Wallen', '21 Savage', 'Morgan Wallen', 'Taylor Swift', 'Warren Zeiders', 'Miley Cyrus', 'Doja Cat', 'Dua Lipa', 'Muni Long', 'Flo Milli', 'Xavi', 'Luke Combs', 'Dua Lipa', 'Cody Johnson', 'Sabrina Carpenter', 'Billie Eilish', 'Drake Featuring Sexyy Red & SZA', 'Bryson Tiller', 'HARDY', 'Justin Timberlake', 'Nicki Minaj Featuring Lil Uzi Vert', 'Olivia Rodrigo', 'Jessie Murph & Jelly Roll', 'Victoria Monet', 'YG Marley', 'Jelly Roll With Lainey Wilson', 'Tate McRae', 'Yeat', 'Dua Lipa', 'Jelly Roll', 'JID Featuring 21 Savage & Baby Tate', 'Nate Smith', 'Usher Featuring Lil Jon & Ludacris', 'Parker McCollum', 'Usher, Summer Walker & 21 Savage', 'Xavi', 'Djo', 'BossMan Dlow', '¥$: Kanye West & Ty Dolla $ign', 'Morgan Wallen Featuring Eric Church', 'Beyonce', 'Drake Featuring J. Cole', '¥$: Kanye West & Ty Dolla $ign', 'The Weeknd, Jennie & Lily Rose Depp', '¥$: Kanye West & Ty Dolla $ign', 'Rich Amiri', 'Karol G & Tiesto', 'Chayce Beckham', 'Sophie Ellis-Bextor', 'Drake', 'Ice Spice', 'Nicki Minaj', 'Travis Scott Featuring Playboi Carti', 'Megan Thee Stallion', 'Kane Brown', 'Don Toliver', 'Morgan Wallen', '310babii', 'Noah Kahan', 'Thomas Rhett Featuring Morgan Wallen', '4Batz', 'Kali Uchis & Peso Pluma', '21 Savage, Travis Scott & Metro Boomin', 'Lainey Wilson', 'Peso Pluma & Anitta', 'Fuerza Regida & Marshmello', 'Jung Kook', 'Gunna', 'Drake Featuring Yeat', 'Good Neighbours', '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J', 'GloRilla', 'Dylan Gossett', 'BigXthaPlug', 'Yeat', 'Bad Bunny & Feid', 'Chris Brown Featuring Davido & Lojay', 'Zach Bryan', 'Fuerza Regida', '¥$: Kanye West & Ty Dolla $ign', 'Offset & Don Toliver', '¥$: Kanye West & Ty Dolla $ign Featuring North West', 'Bad Bunny', 'Bailey Zimmerman', 'The Red Clay Strays', 'Noah Kahan With Hozier']
100 ['2', '1', '5', '3', '4', '7', '6', '9', '8', '12', '31', '10', '11', '13', '14', '15', '16', '18', '24', '17', '19', '25', '32', '21', '22', '29', '-', '35', '42', '27', '41', '-', '51', '37', '40', '43', '45', '44', '63', '47', '49', '-', '46', '50', '54', '56', '20', '60', '36', '58', '-', '59', '33', '66', '38', '57', '23', '72', '26', '68', '-', '77', '73', '74', '62', '71', '76', '48', '82', '78', '70', '84', '28', '83', '81', '69', '80', '-', '87', '85', '61', '-', '88', '-', '34', '89', '95', '96', '-', '99', '-', '-', '-', '52', '-', '30', '97', '-', '-', '75']
100 ['1', '1', '2', '3', '3', '2', '1', '3', '1', '7', '1', '10', '2', '7', '1', '5', '7', '1', '19', '1', '1', '11', '23', '18', '20', '26', '27', '28', '29', '14', '11', '32', '33', '19', '24', '1', '35', '33', '39', '19', '34', '42', '6', '13', '40', '21', '1', '48', '25', '46', '51', '52', '33', '15', '38', '1', '23', '57', '26', '60', '61', '62', '51', '11', '37', '15', '5', '1', '59', '38', '24', '61', '28', '55', '59', '22', '10', '78', '53', '40', '5', '82', '2', '77', '34', '86', '86', '65', '89', '20', '91', '72', '93', '52', '92', '30', '5', '32', '71', '37']
100 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

In [8]:
print("\n=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Top 100 Songs =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=")
df = pd.DataFrame({'Song Name':song_name,
                   'Artist Name':artist_name,
                   'Last Week Rank':lastW_rank,
                   'Peak Rank':peak_rank,
                   'Weeks on Board':week_board
                  })
df

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Top 100 Songs =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Texas Hold 'Em,Beyonce,2,1,1
1,Lovin On Me,Jack Harlow,1,1,2
2,Lose Control,Teddy Swims,5,2,3
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,4
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,96
96,Monaco,Bad Bunny,97,5,97
97,Where It Ends,Bailey Zimmerman,-,32,98
98,Wondering Why,The Red Clay Strays,-,71,99
99,Northern Attitude,Noah Kahan With Hozier,75,37,100

## 6. Scrape the details of Highest selling novels.
    A) Book name
    B) Author name
    C) Volumes sold
    D) Publisher
    E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [9]:
driver = webdriver.Chrome()
driver.maximize_window()

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

driver.get(url)

In [10]:
book_name = []
author_name = []
volumes_sold = []
publisher = []
genre = []

book_tags = driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_tags:
    try:
        book_name.append(i.text)
    except NoSuchElementException:
        book_name.append('-')
print(len(book_name),book_name)

author_tags = driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_tags:
    try:
        author_name.append(i.text)
    except NoSuchElementException:
        author_name.append('-')
print(len(author_name),author_name)

volumes_tags = driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volumes_tags:
    try:
        volumes_sold.append(i.text)
    except NoSuchElementException:
        volumes_sold.append('-')
print(len(volumes_sold),volumes_sold)

publisher_tags = driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher_tags:
    try:
        publisher.append(i.text)
    except NoSuchElementException:
        publisher.append('-')
print(len(publisher),publisher)

genre_tags = driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre_tags:
    try:
        genre.append(i.text)
    except NoSuchElementException:
        genre.append('-')
print(len(genre),genre)

100 ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]
100 ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']
100 ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']
100 ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']
100 ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [11]:
print("\n=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Highest Selling Novels =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=")
novel = pd.DataFrame({'Book Name':book_name,
                      'Author Name':author_name,
                      'Volumes Sold':volumes_sold,
                      'Publisher':publisher,
                      'Genre':genre
                     })
novel

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= Highest Selling Novels =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
    
    A) Name
    B) Year span
    C) Genre
    D) Run time
    E) Ratings
    F) Votes

In [13]:
driver = webdriver.Chrome()
driver.maximize_window()

url = "https://www.imdb.com/list/ls512407256/"

driver.get(url)

menu = driver.find_element(By.XPATH,'//label[@id="imdbHeader-navDrawerOpen"]/span').click()
sleep(4)
popular = driver.find_element(By.XPATH,'//div[@data-testid="grouped-link-category"]/div[1]/span/div/div/ul/a[3]').click()
slepp(4)

In [14]:
names = []
years = []
genres = []
runtime = []
ratings = []
votes = []

name_tags = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in name_tags:
    try:
        names.append(i.text)
    except NoSuchElementException:
        names.append('-')
print(len(names),names)

year_tags = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
for i in year_tags:
    try:
        years.append(i.text)
    except NoSuchElementException:
        years.append('-')
print(len(years),years)

genre_tags = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')
for i in genre_tags:
    try:
        genres.append(i.text)
    except NoSuchElementException:
        genres.append('-')
print(len(genres),genres)

runtime_tags = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
for i in runtime_tags:
    try:
        runtime.append(i.text)
    except NoSuchElementException:
        runtime.append('-')
print(len(runtime),runtime)

rating_tags = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]')
for i in rating_tags:
    try:
        ratings.append(i.text)
    except NoSuchElementException:
        ratings.append('-')
print(len(ratings),ratings)

votes_tags = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in votes_tags:
    try:
        votes.append(i.text)
    except NoSuchElementException:
        votes.append('-')
print(len(votes),votes)

100 ['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'Game of Thrones', 'You', 'Stranger Things', 'Dexter', 'The Walking Dead', 'Fear the Walking Dead', '13 Reasons Why', 'Family Guy', 'The 100', 'The Blacklist', 'Orange Is the New Black', 'Lost', 'Riverdale', 'Peaky Blinders', "Grey's Anatomy", 'House', 'The Flash', 'Quantico', 'Arrow', 'Orphan Black', 'Money Heist', 'Homeland', 'The Big Bang Theory', 'Blindspot', 'Black Mirror', "DC's Legends of Tomorrow", 'Sherlock', "The Handmaid's Tale", 'Vikings', 'Chilling Adventures of Sabrina', 'Pretty Little Liars', 'The Good Doctor', 'The Vampire Diaries', 'Jane the Virgin', 'American Horror Story', 'Glee', 'Breaking Bad', 'South Park', 'Lucifer', 'Brooklyn Nine-Nine', 'Supernatural', 'Under the Dome', 'Prison Break', 'The Umbrella Academy', 'How to Get Away with Murder', 'True Detective', 'Teen Wolf', 'The OA', 'The Simpsons', 'Desperate Housewives']
100 ['(2011–2019)', '(2016–2025)', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017–2023)', '(2005– )', '(2014–2023)', '(2012–2020)', '(2017–2021)', '(2007–2019)', '(2011– )', '(2010–2017)', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016–2021)', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(I) (2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016–2022)', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018–2024)', '(2019–2023)', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2011–2019)', '(2018–2024)', '(2016–2025)', '(2006–2013)', '(2010–2022)', '(2015–2023)', '(2017–2020)', '(1999–2025)', '(2014–2020)', '(2013–2023)', '(2013–2019)', '(2004–2010)', '(2017–2023)', '(2013–2022)', '(2005– )', '(2004–2012)', '(2014–2023)', '(2015–2018)', '(2012–2020)', '(2013–2017)', '(2017–2021)', '(2011–2020)', '(2007–2019)', '(2015–2020)', '(2011– )', '(2016–2022)', '(2010–2017)', '(2017– )', '(2013–2020)', '(2018–2020)', '(2010–2017)', '(2017–2024)', '(2009–2017)', '(2014–2019)', '(2011– )', '(2009–2015)', '(2008–2013)', '(1997– )', '(2016–2021)', '(2013–2021)', '(2005–2020)', '(2013–2015)', '(2005–2017)', '(2019–2024)', '(2014–2020)', '(2014– )', '(2011–2017)', '(2016–2019)', '(1989– )', '(2004–2012)']
100 ['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Drama', 'Comedy, Romance', 'Drama, Mystery, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Sci-Fi', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Drama, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama, Romance', 'Comedy, Drama', 'Comedy, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Drama, Fantasy, Horror', 'Crime, Drama, Mystery', 'Drama, Horror, Thriller', 'Drama, Horror, Sci-Fi', 'Drama, Mystery, Thriller', 'Animation, Comedy', 'Drama, Mystery, Sci-Fi', 'Crime, Drama, Mystery', 'Comedy, Crime, Drama', 'Adventure, Drama, Fantasy', 'Crime, Drama, Mystery', 'Crime, Drama', 'Drama, Romance', 'Drama, Mystery', 'Action, Adventure, Drama', 'Crime, Drama, Mystery', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Comedy, Romance', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Drama', 'Crime, Drama, Mystery', 'Drama, Sci-Fi, Thriller', 'Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Mystery, Romance', 'Drama', 'Drama, Fantasy, Horror', 'Comedy', 'Drama, Horror, Sci-Fi', 'Comedy, Drama, Music', 'Crime, Drama, Thriller', 'Animation, Comedy', 'Crime, Drama, Fantasy', 'Comedy, Crime', 'Drama, Fantasy, Horror', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Drama, Fantasy, Mystery', 'Animation, Comedy', 'Comedy, Drama, Mystery']
100 ['55 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '45 min', '4,393 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '5,280 min', '4,576 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '5,378 min', '23 min', '42 min', '25 min', '3,804 min', '1,455 min', '60 min', '1,755 min', '46 min', '22 min', '45 min', '55 min', '45 min', '51 min', '55 min', '44 min', '44 min', '60 min', '22 min', '43 min', '43 min', '59 min', '5,445 min', '45 min', '2,109 min', '41 min', '7,788 min', '43 min', '42 min', '42 min', '44 min', '70 min', '55 min', '22 min', '42 min', '60 min', '42 min', '88 min', '60 min', '44 min', '60 min', '44 min', '41 min', '43 min', '60 min', '60 min', '44 min', '45 min', '22 min', '4,393 min', '22 min', '44 min', '43 min', '44 min', '60 min', '43 min', '55 min', '41 min', '60 min', '22 min', '45 min']
100 ['9.2', '8.7', '8.1', '7.5', '7.6', '8', '6.5', '7.6', '7.5', '7.5', '8.2', '8.1', '8.7', '9.1', '8.5', '7.4', '7.7', '8', '9.5', '8.1', '8.4', '8.3', '8.1', '7.7', '8.7', '7.7', '8.8', '8.6', '8.9', '8.3', '8.4', '8.5', '8.3', '6.2', '7.5', '8.2', '7.8', '8.5', '7.9', '8.5', '9.1', '6.5', '8', '8.6', '8.7', '7.2', '8.3', '8.5', '7.8', '7.5', '9.2', '7.7', '8.7', '8.7', '8.1', '6.8', '7.5', '8.1', '7.6', '7.9', '8', '8.3', '6.5', '8.8', '7.6', '8.7', '7.5', '6.7', '7.5', '8.3', '8.2', '8.3', '8.1', '7.3', '8.7', '6.8', '9.1', '8.4', '8.5', '7.4', '7.4', '8', '7.7', '7.9', '8', '6.8', '9.5', '8.7', '8.1', '8.4', '8.4', '6.5', '8.3', '7.9', '8.1', '8.9', '7.7', '7.8', '8.7', '7.6']
100 ['2,261,972', '1,320,083', '1,071,953', '313,429', '273,342', '318,654', '154,353', '338,267', '366,922', '444,740', '526,687', '861,091', '633,236', '989,336', '576,029', '177,349', '347,062', '341,269', '2,110,055', '352,697', '479,067', '574,819', '165,321', '162,029', '433,029', '235,942', '465,788', '471,296', '1,078,708', '723,955', '472,201', '415,140', '146,689', '129,116', '191,513', '162,174', '239,825', '529,650', '225,666', '477,230', '594,670', '69,860', '217,281', '528,318', '437,708', '89,856', '346,847', '279,833', '243,700', '225,144', '2,261,972', '295,823', '1,320,083', '759,510', '1,071,953', '142,826', '313,429', '361,910', '273,342', '277,232', '318,654', '590,309', '154,353', '637,593', '338,267', '505,434', '366,922', '63,656', '444,740', '116,459', '526,687', '359,256', '861,091', '78,613', '633,236', '109,668', '989,336', '255,904', '576,029', '107,372', '177,349', '110,817', '347,062', '58,387', '341,269', '154,871', '2,110,055', '403,332', '352,697', '356,240', '479,067', '111,946', '574,819', '272,443', '165,321', '645,034', '162,029', '114,842', '433,029', '138,659']

In [15]:
print("\n=*=*=*=*=*=*=*= Top 100 most watched tv shows of all time =*=*=*=*=*=*=*=")
TV_Series = pd.DataFrame({'Name':names,
                          'Year Span':years,
                          'Genre':genres,
                          'Run Time':runtime,
                          'Rating':ratings,
                          'Votes':votes
                         })
TV_Series

=*=*=*=*=*=*=*= Top 100 most watched tv shows of all time =*=*=*=*=*=*=*=

,Name,Year Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,261,972"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,083"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,071,953"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,429"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,342"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"645,034"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,029"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,842"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"433,029"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,659"

## 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:

    A) Dataset name
    B) Data type
    C) Task
    D) Attribute type
    E) No of instances
    F) No of attribute
    G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [3]:
driver = webdriver.Chrome()
driver.maximize_window()

url = "https://archive.ics.uci.edu/"

driver.get(url)

In [4]:
datasets = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a').click()

In [5]:
name = []
Dtype = []
task = []
Atype = []
instances = []
no_attr = []
#year = [] # Need Expand Button-It iterate only for first page but not for all (not get proper loop to iterate)

In [6]:
for page in range (0,66):
    next_page = driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]').click()
    sleep(3)
    
    name_tags = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in name_tags:                       
        try:
            name.append(i.text)
        except NoSuchElementException:
            name.append('-')
    Dtype_tags = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[1]/span')
    for i in Dtype_tags:
        try:
            Dtype.append(i.text)
        except NoSuchElementException:
            Dtype.append('-')
    task_tags = driver.find_elements(By.XPATH,'//p[@class="truncate"]')
    for i in task_tags:
        try:
            task.append(i.text)
        except NoSuchElementException:
            task.append('-')
    Atype_tags = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[2]/span')
    for i in Atype_tags:
        try:
            Atype.append(i.text)
        except NoSuchElementException:
            Atype.append('-')
    instances_tags = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[3]/span')
    for i in instances_tags:
        try:
            instances.append(i.text)
        except NoSuchElementException:
            instances.append('-')
    no_attr_tags = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[4]/span')
    for i in no_attr_tags:
        try:
            no_attr.append(i.text)
        except NoSuchElementException:
            no_attr.append('-')

In [7]:
print(len(name),
      len(Dtype),
      len(task),
      len(Atype),
      len(instances),
      len(no_attr))

654 654 654 654 654 654

In [8]:
datasets = pd.DataFrame({'Dataset Name':name,
                         'Data Type':Dtype,
                         'Task':task,
                         'Attribute Type':Atype,
                         'No of Instances':instances,
                         'No of Attribute':no_attr
                        })
datasets

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute
0,Car Evaluation,Classification,Derived from simple hierarchical decision mode...,Multivariate,1.73K Instances,6 Features
1,Bank Marketing,Classification,The data is related with direct marketing camp...,Multivariate,45.21K Instances,17 Features
2,Mushroom,Classification,From Audobon Society Field Guide; mushrooms de...,Multivariate,8.12K Instances,22 Features
3,Abalone,"Classification, Regression",Predict the age of abalone from physical measu...,Tabular,4.18K Instances,8 Features
4,Student Performance,"Classification, Regression",Predict student performance in secondary educa...,Multivariate,649 Instances,33 Features
...,...,...,...,...,...,...
649,NSF Research Award Abstracts 1990-2003,,"This data set consists of (a) 129,000 abstract...",,129K Instances,
650,PMU-UD,Classification,The handwritten dataset was collected from 170...,Univariate,5.18K Instances,9 Features
651,DGP2 - The Second Data Generation Program,,Generates application domains based on specifi...,,,
652,EBL Domain Theories,,Assorted small-scale domain theories,,,
653,Sattriya_Dance_Single_Hand_Gestures Dataset,Classification,The Sattriya_Dance_Single_Hand_Gestures datase...,Multivariate,1.45K Instances,

# End of Assignment