# Assignment 2 (dated - 31.12.2023)

### Name - Sachin Subhash Awalkar
### Batch Code - DS2312
### Subject - Regular Expressions
### Submited on - 09.01.2024

In [1]:
# Import necessary libraries to perform all answers

import pandas as pd
import regex as re

## Question 1
- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'

**Expected Output:**

Python:Exercises::PHP:exercises:

In [2]:
# Answer - 1

ques_1 = 'Python Exercises, PHP exercises.'

Ans_1 = ques_1.replace(' ', ':').replace(',', ':').replace('.', ':')

print(Ans_1)

Python:Exercises::PHP:exercises:

## Question 2

-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

**Expected output-**

0      hello world

1             test

2    four five six

In [35]:
# Answer - 2

ques_2 = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

Ans_2 = pd.DataFrame(ques_2)

Ans_2['SUMMARY'] = Ans_2['SUMMARY'].str.replace('[^a-zA-Z\s]','', regex = True)

print(Ans_2)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

## Question 3
- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [4]:
# Answer - 3

def find_words(ques_3):
    
    Ans_3 = re.compile(r'\b\w{,4}\b')
    
    matches = Ans_3.findall(ques_3)
    
    return matches

## Question 4
- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [5]:
# Answer - 4

def find_words(ques_4):
    
    Ans_4 = re.compile(r'\b\w{3,5}\b')
    
    matches = Ans_4.findall(ques_4)
    
    return matches

## Question 5
- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

**Expected Output:**

example.com

hr@fliprobo.com

github.com

Hello Data Science World

Data Scientist

In [6]:
# Answer - 5

def remove_parenthesis(sample_string):
    
    pattern = re.compile(r'\(|\)')
    
    output = [pattern.sub("", b) for b in sample_string]

    return output

sample_text = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]

Ans_5 = remove_parenthesis(sample_text)


for new_output in Ans_5:
    print(new_output)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

## Question 6
- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

**Expected Output:**

["example", "hr@fliprobo", "github", "Hello", "Data"]

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [7]:
# Answer - 6

sample_text = '["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'

input_file_path = 'sample_text.txt'

with open(input_file_path, 'w') as file:
    
    file.write(sample_text)

with open('sample_text.txt', 'r') as file:
    
    text = file.read()

Ans_6 = re.sub(r"\s*\([^)]*\)", "", text)

print(Ans_6)

["example", "hr@fliprobo", "github", "Hello", "Data"]

## Question 7
- Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”

**Expected Output:**

[‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [8]:
# Answer - 7

def split_uppercase_string(ques_7):
    
    pattern = re.compile(r'[A-Z][a-z]*')

    
    result = pattern.findall(ques_7)

    return result


sample_text = "ImportanceOfRegularExpressionsInPython"


Ans_7 = split_uppercase_string(sample_text)


print(Ans_7)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

## Question 8
- Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

**Expected Output:**

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [9]:
# Answer - 8

def insert_spaces(ques_8):
    pattern = r'(\d+)([A-Za-z]+)'
    output = re.sub(pattern, r' \1\2', ques_8)
    return output

ques_8 = "RegularExpression1IsAn2ImportantTopic3InPython"

Ans_8 = insert_spaces(ques_8)

print(Ans_8)

RegularExpression 1IsAn 2ImportantTopic 3InPython

## Question 9
- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

**Expected Output:**

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [10]:
# Answer - 9

def insert_spaces(ques_9):
    pattern = r'(\d)([A-Za-z])'
    output = re.sub(pattern, r' \1 \2', ques_9)
    return output

ques_9 = "RegularExpression1IsAn2ImportantTopic3InPython"

Ans_9 = insert_spaces(ques_9)

print(Ans_9)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

## Question 10
- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

**Github Link-**

https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [11]:
# Answer - 10

file = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"

Ans_10 = pd.read_csv(file)

Ans_10['first_five_letters'] = Ans_10['Country'].str[:6]

Ans_10

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

## Question 11
- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [12]:
# Answer - 11

def string_contains(ques_11):
    
    pattern = r'^[a-zA-Z0-9_]+$'
    
    if re.match(pattern, ques_11):
        
        print("Match Found")
    
    else:
        
        print("Match Not Found")
        
string_contains("Happy_New_Year_2024")

string_contains("Happy New Year")

Match Found
Match Not Found

## Question 12
- Write a Python program where a string will start with a specific number.

In [13]:
# Answer - 12

def ques_12(string, number):
    if string.startswith(str(number)):
        return True
    else:
        return False

string = "123abc"

number = 123

if ques_12(string, number):
    
    print("Given string starts with the specific number.")
    
else:
    
    print("Given string does not starts with the specific number.")

Given string starts with the specific number.

## Question 13
- Write a Python program to remove leading zeros from an IP address

In [14]:
# Answer - 12

IP_address = "216.08.094.196"

Ans_13 = re.sub('\.[0]*', '.', IP_address)

print(Ans_13)

216.8.94.196

## Question 14
- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

**Expected Output-**

August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [15]:
# Answer - 14

ques_14 = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r'(\b[A-Za-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4}\b)'

Ans_14 = re.findall(pattern, ques_14)

print(Ans_14)

['August 15th 1947']

## Question 15
- Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [16]:
# Answer - 15

patterns = [ 'fox', 'dog', 'horse' ]

ques_15 = 'The quick brown fox jumps over the lazy dog.'

for pattern in patterns:
    
    print('\nSearching pattern for "%s" in "%s" ==>>' % (pattern, ques_15),)
    
    if re.search(pattern, ques_15):
        
        print('\nMatch Found')
        
    else:
        
        print('\nNo Match Found')

Searching pattern for "fox" in "The quick brown fox jumps over the lazy dog." ==>>

Match Found

Searching pattern for "dog" in "The quick brown fox jumps over the lazy dog." ==>>

Match Found

Searching pattern for "horse" in "The quick brown fox jumps over the lazy dog." ==>>

No Match Found

## Question 16
- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

**Searched words :** 'fox'

In [17]:
# Answer - 16

pattern = 'fox'

ques_16 = 'The quick brown fox jumps over the lazy dog.'

match = re.search(pattern, ques_16)

start = match.start()

end = match.end()

print('Found "%s" in "%s" from %d to %d ' % \
      (match.re.pattern, match.string, start, end))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

## Question 17
- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

**Pattern :** 'exercises'.

In [18]:
# Answer - 17

ques_17 = 'Python exercises, PHP exercises, C# exercises'

pattern = 'exercises'

for match in re.findall(pattern, ques_17):
    
    print('Found pattern "%s"' % match)

Found pattern "exercises"
Found pattern "exercises"
Found pattern "exercises"

## Question 18
- Write a Python program to find the occurrence and position of the substrings within a string.

In [19]:
# Answer - 18

ques_18 = 'Python exercises, PHP exercises, C# exercises'

pattern = 'exercises'

for match in re.finditer(pattern, ques_18):
    
    start = match.start()
    end   = match.end()
    
    print('Found "%s" at %d:%d' % (ques_18[start:end], start, end))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

## Question 19
- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [20]:
# Answer - 19

def change_date_format(ques_19):
    
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', ques_19)
    
Ans_19 = "2023-12-31"

print("Original date in YYY-MM-DD Format: ",Ans_19)

print("New date in DD-MM-YYYY Format: ",change_date_format(Ans_19))

Original date in YYY-MM-DD Format:  2023-12-31
New date in DD-MM-YYYY Format:  31-12-2023

## Question 20
- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

**Expected Output:**

['01.12', '145.8', '3.01', '27.25', '0.25']

In [21]:
# Answer - 20

def find_all_decimal_numbers(ques_20):
    
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    
    decimal_numbers = re.findall(pattern, ques_20)
    
    return decimal_numbers

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Ans_20 = find_all_decimal_numbers(sample_text)

print(Ans_20)

['01.12', '145.8', '3.01', '27.25', '0.25']

## Question 21
- Write a Python program to separate and print the numbers and their position of a given string.

In [22]:
# Answer - 21

ques_21 = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

for Ans_21 in re.finditer("\d+", ques_21):

    print(Ans_21.group(0))
    
    print("Index position:", Ans_21.start())

50
Index position: 62

## Question 22
- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [23]:
# Answer - 22

ques_22 = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric_value = re.findall(r'\d+', ques_22)
numeric_value = [int(value) for value in numeric_value]

max_numeric_value = max(numeric_value)

print(max_numeric_value)

950

## Question 23
- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

**Expected Output:**

Regular Expression Is An Important Topic In Python

In [24]:
# Answer - 23

def insert_spaces(ques_23):
    
    pattern = r'([A-Z][a-z]+)'
    
    result = re.sub(pattern, r' \1', ques_23)
    
    result = result.strip()
    
    return result

sample_text = "RegularExpressionIsAnImportantTopicInPython"

Ans_23 = insert_spaces(sample_text)

print(Ans_23)

Regular Expression Is An Important Topic In Python

## Question 24
- Python regex to find sequences of one upper case letter followed by lower case letters

In [25]:
# Answer - 24

def match_pattern(ques_24):
    
        pattern = '[A-Z]+[a-z]'
        
        if re.search(pattern, ques_24):
            
                return ('\nMatch Found')
        else:
                return('\nNo Match Found')
            
print(match_pattern("India"))

print(match_pattern("INDIA"))

Match Found

No Match Found

## Question 25
- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

**Expected Output:**

Hello hello world

In [26]:
# Answer - 25

def remove_duplicates(sample_text):
    
    pattern = r'\b(\w+)(\s+\1\b)+'
    
    result = re.sub(pattern, r'\1', sample_text)
    
    return result

sample_text = "Hello hello world world"

Ans_25 = remove_duplicates(sample_text)

print(Ans_25)

Hello hello world

## Question 26
-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [27]:
# Answer - 26

def check_string(ques_26):
    
    pattern = r"\w$"
    
    match = re.search(pattern, ques_26)
    
    if match:
        
        return True
    
    else:
        
        return False

enter_string = input("Enter a string: ")

if check_string(enter_string):
    print("Entered string ends with an alphanumeric character")
else:
    print("Entered string ends without an alphanumeric character")

Enter a string: sd23
Entered string ends with an alphanumeric character

## Question 27
- Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

**Expected Output:**
    
['#Doltiwal', '#xyzabc', '#Demonetization']

In [28]:
# Answer - 27

def extract_hashtags(ques_27):
    
    hashtags = re.findall(r'#\w+', ques_27)
    
    return hashtags

ques_27 = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'

Ans_27 = extract_hashtags(ques_27)

print(Ans_27)

['#Doltiwal', '#xyzabc', '#Demonetization']

## Question 28
- Write a python program using RegEx to remove <U+..> like symbols

Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

**Expected Output:**

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [29]:
# Answer - 28

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
Ans_28 = re.sub(pattern, "", sample_text)

print(Ans_28)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

## Question 29
- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [30]:
# Answer - 29

sample_text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."

with open('stored_text.txt', 'r') as file:
    text = file.read()

pattern = r'\d{2}-\d{2}-\d{4}'

dates = re.findall(pattern, text)

for date in dates:
    print(date)

12-09-1992
15-12-1999

## Question 30
- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

**Expected Output:**

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [31]:
# Answer - 30

def remove_words(ques_30):
    
    pattern = re.compile(r'\b\w{2,4}\b')
    
    output = pattern.sub('', ques_30)
    
    return output

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Ans_30 = remove_words(sample_text)

print(Ans_30)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

## End of Assignment